body{
    background-image: url(images/background.jpg);
    padding-left: 280px;
    padding-right: 280px;
    background-size: cover;
    font-family: Tahoma;
}

h1{
    background-color: rgba(128, 128, 128, 0.404);
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 20px;
}

h2{
    color: orange;
    text-align: center;
}

div{
    border: gray 3px solid;
    margin-bottom: 20px;
    padding: 0 20px 20px 20px;
    border-radius: 15px 0 15px 0;
}

p{
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

.more{
    font-weight: bold;
    text-align: right;
}

a{
    color: red;
    text-align: right;
    text-decoration: none;
}

.second{
    border: gray 3px dashed;
}